

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2></h2>
      <a href="#" class="btn-get-started" routerLink="/login">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/elearning.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>What is E-learning?</h3>
            <p class="font-italic">
              E-learning refers to a learning system that we can obtain through the internet using an electronic device. We also call it online learning or online education. The ‘E’ in E-learning stands for ‘Electronic.’ Hence, the original term ‘electronic learning.’
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Today, with technology use and internet access greater than ever, we have endless options for both creating and consuming elearning, and the possibilities are still growing..</li>
              <li><i class="bi bi-check-circle"></i> Subsequently, schools have replaced physical books with digital content that students can easily access on their electronic devices.
                Not only has E-learning benefited companies and schools, but also millions of workers..</li>
              <li><i class="bi bi-check-circle"></i> Elearning means more than just online courses now. It can include interactive simulations, mobile learning and games too. The variety of styles mean that there’s a solution to suit every type of challenge, organisation and learner style
                .</li>
            </ul>
            <p>
             
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

     

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose <br> E-learning?</h3>
              <p>
                Elearning is often chosen in order to : <br> 
                    - Save Time
                    <br>
                    - Save Money
                    <br>
                    - Personalise the experience


                  </p>
              <div class="text-center">
                <a href=""  routerLink="/about" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4> Save Time</h4>
                    <p>learning is often chosen in order to save time , slashing any hours that would typically be spent travelling to training venues or events. The learning process is generally much quicker too,  Plus, with today’s mobile and multi-device capability, learners have the freedom to access learning on-the-go, at any time of day</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4> Save Money</h4>
                    <p>Save training costs associated with travelling, instructor fees, and the cost of hiring a training venue plus learning equipment. Save the cost of printing on endless streams of paper .</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4> Personalise the experience </h4>
                    <p>With the option for learners to choose what types of learning styles suit them, and the freedom to decide when and where to learn, employees will have a more rewarding experience and feel in control of their development.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->
