<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Reset Password </h2>
      </div>
  </div><!-- End Breadcrumbs -->


<main class="main">
    <br>
    <br>
    <br>
    <br>
<section>

    <h3>Forget Your Password</h3>
    <p>we can send you a reset link</p>
   
        <form>
        <input matInput placeholder="Enter your email" name="email" [(ngModel)]="email"  required>
        </form>
    
      <p class="msgpass" id="msg"></p>

<button class="btn btn-success btn-sm" (click)="resetPassword()" >Reset Password</button>  <br><br>
 <button   class="btn btn-secondary btn-sm" color="accent" (click)="goback()">Go Back to Login</button> 

</section>


</main>

