
<br>
<br>
<br>
<br>


<div class="container" id="container">




<app-inscri></app-inscri>

	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<form #f="ngForm" (ngSubmit)="signup(f)">
			<input type="text" placeholder="Name" ngModel name="name" #name="ngModel" />
			<input type="email" placeholder="Email" ngModel name="email" #email="ngModel"/>
			<input type="password" placeholder="Password" ngModel name="password" #password="ngModel" />
			
			<p class="bug" >{{errorMessage}} </p>
			<button class=" btn btn-primary1"  >Create Account</button>		
			</form>
		</form>
	</div>


	
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
